  <table class="table table-hover">
        <thead>
          <tr>
         
            <th scope="col">Titre</th>
            <th scope="col">Description</th>
            <th scope="col">Vote</th>
            
            
    
    
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sondage of ListSondage; let i=index">
            
            <td>{{sondage.titre }}</td>
            <td>{{sondage.titre }}</td>
            <td>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" (change)="radioChangeHandler($event)" value="oui">
                    <label class="form-check-label" for="inlineRadio1">oui </label>
                    
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" (change)="radioChangeHandler($event)" value="non">
                    <label class="form-check-label" for="inlineRadio2">non</label>
                  </div>
             
            </td>
            <td>   <button class="btn btn-primary" (click)="sendResponse(i)">Send Response</button> </td>
         
          </tr>
          
        </tbody>
      </table>             
   